/*Variables */

$card-color: white;
$shadow-color: black;

/*Todo List */

.card-background {
  margin-top: 50px;
  background-color: #acf7e2;
  padding: 20px 10px 10px 10px;
  /*Heading title*/
  .heading-title {
    margin-top: -7px;
    margin-bottom: 20px;
    color: #72c0b7;
    font-weight: 800;
  }
  /*Displays the date*/
  .date-grid {
    font-size: 3em;
    display: grid;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 15px;
    color: rgb(73, 167, 156);
    grid-template-columns: 25px 10px;
    .month-day {
      font-size: 0.3em;
    }
  }
  /*Modal trigger*/
  .modal-trigger {
    margin-top: -5px;
    background-color: #acf7e2;
  }
  /*Divider*/
  .divider {
    margin-left: calc(-10% + (8px/2));
    margin-right: calc(-10% + (8px/2));
  }
  /*Task items*/
  #tasksUl {
    margin-top: -25px;
    li {
      padding: 10px;
      /*Delete Button*/
      .deleteButton {
        border: none;
        float: right;
        font-size: 15px;
        background-color: transparent;
        &:hover {
          cursor: pointer;
          color: #ff1744;
        }
      }
    }
  }
  /*Card stack */
  .card-stack {
    box-shadow: 0 0.0625em 0.1875em 0 rgba($shadow-color, 0.1),
      0 0.5em 0 -0.25em rgba($card-color, 5%),
      0 0.5em 0.1875em -0.25em rgba($shadow-color, 0.1),
      0 1em 0 -0.5em rgba($card-color, 10%),
      0 1em 0.1875em -0.5em rgba($shadow-color, 0.1);
  }
}

[type ="checkbox"] {
  opacity: 1 !important;
}
